/* Main
======================================= */
html, body {height: 100%; width: 100%;}
body, html, p, ul, ol, li, dl, dd, dt, h1, h2, h3, h4, h5, h6, form, fieldset, td, th, caption, address, textarea, legend {margin: 0; padding: 0;}
a img, fieldset {border: 0;}
body {font: 12px Tahoma, Verdana, sans-serif; line-height: 1.2; color: #000; background: url(/i2/body.jpg) no-repeat #fff;}
a {color: #6f6f6f;}

.left {float: left;}
.right {float: right;}
.both {clear: both;}

.container:after, .contacts h3:after, .filters fieldset:after, .filters li:after, .footer-inner:after, .content:after, .header:after, .recommended-inner ul:after, .rec-rb:after, .photos ul:after, .cl:after {content: ''; display: block; clear: both; visibility: hidden; height: 0; line-height: 0; font-size: 0;}
.container {position: relative; min-height: 100%; min-width: 996px; max-width: 1300px;}
h2 {font-size: 18px; color: #DF6951; font-weight: normal; margin: 6pt 0cm 6pt 19.85pt;}
h1 {font-size: 25px; color: #DF6951; font-weight: normal;}



/* Header
======================================= */
.header {padding: 0 0 0px;}
.header-sidebar {float: right; width: 216px; padding: 7px 12px 0 0;}
.header-navigation {margin: 0 236px 0 8px;}
.header-inner {float: left; width: 100%;}
/* Logo */
.logo {padding: 3px 0 34px 39px;}
.logo a {padding: 20px;}
.logo a, .logo span, .logo img {display: block; width: 136px; height: 22px;}
/* Contacts */
.contacts {width: 189px; height: 99px; clear: both; padding: 14px 12px 0; margin: 0 0 10px 3px; background: url(/i2/contacts.png) no-repeat #5dc313; color: #fff;}
.contacts h3 {font-size: 18px; font-weight: normal; clear: both; padding: 0 0 10px;}
.contacts h3 span {float: left; margin: 0 6px 0 0;}
.contacts h3 a {font-size: 10px; color: #3d3d3d; float: left;}
.contacts address {font-size: 15px; font-style: normal; padding: 0 0 10px;}
/* Filters */
.filters {background: url(/i2/block-lt.png) no-repeat;}
.filters-inner {background: url(/i2/block-lb.png) no-repeat left bottom;}
.filters form {background: url(/i2/block-rt.png) no-repeat right top;}
.filters-block {background: url(/i2/block-rb.png) no-repeat right bottom; padding: 13px 4px 0; min-height: 385px;}
.filters h3 {font-size: 24px; font-weight: normal; color: #eb976b; padding: 0 10px;}
.filters h4 {font-size: 13px; font-weight: normal; color: #616161; padding: 0 10px 4px;}
.filters ul {list-style: none; padding: 0 10px 5px; margin: 0 0 5px; border-bottom: 1px solid #dadada;}
.filters li {clear: both; padding: 0 0 2px; font-size: 12px;}
.filters li label {cursor: pointer;}
.filters ul input {float: left; margin: 0 6px 0 0;}
.filters select {display: block; margin: 0 10px 12px;}
.select-stars {color: #58c10c;}
.select-stars span {display: block; height: 11px; background: url(/i2/star.png) left top; float: left; border-top: 3px solid #f3f3f3;}
.star5 {width: 65px;}
.star4 {width: 52px;}
.star3 {width: 39px;}
.star2 {width: 26px;}
.select-price {color: #b22;}
.filters ul.select {color: #484848; border: 0; padding-top: 10px; border-top: 1px solid #dadada;}
/* Navigation */
.nav {position: relative; clear: both; height: 38px; padding: 0 7px;}
.bg {height: 37px; left: 7px; right: 7px; top: 0; position: absolute; background: url(/i2/bg.png) repeat-x left top; z-index: 5;} 
.nav-left {width: 9px; display: block; float: left; height: 37px; background: url(/i2/nav-left.png) no-repeat;}
.nav-right {width: 9px; display: block; float: left; height: 37px; background: url(/i2/nav-right.png) no-repeat;}
.nav-inner {display: block; float: left; height: 27px; background: url(/i2/nav.png) repeat-x; padding: 10px 20px 0; font-size: 14px;}
.nav ul {list-style: none; position: relative; z-index: 10; border-bottom: 1px solid #646464; height: 37px;}
.nav li {float: left; position: relative;}
.nav a {text-decoration: none; color: #3d3d3d; display: block; float: left;}
.nav li.right {float: right;}
.current .nav-left {background: url(/i2/nav-current-left.png) no-repeat;}
.current .nav-right {background: url(/i2/nav-current-right.png) no-repeat;}
.current .nav-inner {background: url(/i2/nav-current.png) repeat-x;}
.nav a.current {text-decoration: underline; color: #fff;}
.nav .right .nav-left {background: url(/i2/nav-other-left.png) no-repeat;}
.nav .right .nav-right {background: url(/i2/nav-other-right.png) no-repeat;}
.nav .right .nav-inner {background: url(/i2/nav-other.png) repeat-x;}
/* Map */
.map {clear: both; position: relative;}
.map-left {position: absolute; left: 0; top: 0; width: 8px; height: 370px; background: url(/i2/map-left.gif) repeat-y; overflow:hidden; z-index: 100;}
.map-right {position: absolute; right: 0; top: 0; width: 8px; height: 370px; background: url(/i2/map-right.gif) repeat-y; overflow:hidden; z-index: 100;}
.map-lb {position: absolute; left: 0; bottom: 0; width: 23px; height: 23px; background: url(/i2/map-lb.gif) no-repeat; overflow:hidden; z-index: 110;}
.map-rb {position: absolute; right: 0; bottom: 0; width: 23px; height: 23px; background: url(/i2/map-rb.gif) no-repeat; overflow:hidden; z-index: 110;}
.map-bot {position: absolute; bottom: 0; left: 23px; right: 23px; height: 8px; background: url(/i2/map-bot.gif) repeat-x; overflow:hidden; z-index: 105;}
.map-rt {position: absolute; top: 0; right: 0; height: 29px; width: 8px; background: url(/i2/map-rt.gif) no-repeat; overflow:hidden; z-index: 115;}
.map-lt {position: absolute; top: 0; left: 0; height: 29px; width: 8px; background: url(/i2/map-lt.gif) no-repeat; overflow:hidden; z-index: 115;}
.slider {position: absolute; left: 22px; top: 86px; width: 22px; height: 247px; background: url(/i2/slider.gif) repeat-y center center; z-index: 200;}
.slider a, .slider a img {display: block; width: 22px;}
.scroller {width: 22px; height: 161px; position: relative;}
.scroller img {position: absolute; left: 0; top: 20px; cursor: move;}
.map-tags {position: absolute; left: 11px; top: 10px; list-style: none; right: 18px;}
.map-tags li {float: left; padding: 0 0 0 7px;}
.map-tags a {display: block; float: left; color: #fff; text-decoration: none;}
.tag-right, .tag-left {float: left; width: 5px; height: 17px; display: block;}
.tag-left {background: url(/i2/tag-left.png) no-repeat;}
.tag-right {background: url(/i2/tag-right.png) no-repeat;} 
.tag-in {float: left; height: 16px; padding: 1px 5px 0; background: url(/i2/tag.png) repeat-x;}
.map-tags li.right {float: right;}
.fixie1, .fixie2 {display: none;}
/* Menu */
.menu {clear: both; background: url(/i2/menu.png) no-repeat; margin: 0 0 6px 4px; list-style: none; height: 19px; padding: 4px 0 0; text-align: center;}
.menu li {display: inline;}
.menu a {color: #fff; text-decoration: none; margin: 0 17px;}
/* Photos */
.photos {margin: 0 -5px 130px; position: relative; background: url(/i2/photos-bot.png) no-repeat left bottom;}
.photos div {padding: 12px 8px; background: url(/i2/photos-top.png) no-repeat;}
.photos span {font-size: 11px; color: #636363; padding: 0 6px;}
.photos h4 {font-size: 18px; color: #41bde3; font-weight: normal; padding: 0 6px;}
.photos ul {padding: 4px 0 0; list-style: none;}
.photos li {padding: 2px; float: left;}
/* Advert */
.advert-sidebar {border: 1px solid #bfbfbf; background: #f3f3f3; padding: 10px 12px; margin: 0 0 20px;}
.advert-sidebar h4 {font-size: 12px !important; color: #71c8de !important; font-weight: normal;}
.advert-sidebar p {font-size: 10px; color: #7e7373;}
.advert-sidebar p a {text-decoration: none; color: #2a2a2a;}
/* Hotel */
.hotel {width: 180px; float: left;}
.onemore {background: url(/i2/block-rb.png) no-repeat right bottom; padding: 15px;}
.onemore ol {list-style: none;width:148px}
.onemore h2 {font-size: 23px; line-height: 23px; color: #4d6884; font-weight: normal; padding: 0 0 8px;}
.onemore li a {display: block; background: url(/i2/li-bot.png) no-repeat left bottom; margin: 0 0 3px; font-size: 14px; color: #fff; text-decoration: none;}
.onemore li a span {display: block; padding: 4px 16px 8px; background: url(/i2/li-top.png) no-repeat left top;}
/* Guestbook */
.guestbook {width: 169px; padding: 0 0 0 10px; margin: 0 0 20px;}
.guestbook h3 {font-size: 17px; color: #4d6884; font-weight: normal; padding: 0 0 3px 10px;}
.guestbook div {background: url(/i2/green-bot.png) no-repeat left bottom;}
.guestbook div div {background: url(/i2/green-top.png) no-repeat left top; padding: 10px;}
.guestbook span {font-size: 12px; color: #de6751;}
.guestbook p {color: #000; font-size: 11px;}
/* Inner */
.inner-page {margin: 0 10px 0 195px;}
.inner-page-block {float: left; width: 100%;}
.inner-page h3 {font-size: 14px; font-weight: normal; color: #6ed5e4; padding:  0 0 3px;}
.inner-page h4 {font-size: 11px; color: #df6951; font-weight: normal; padding:  0 0 3px;}
.inner-page p {padding: 0 0 10px;}
.inner-page ul {margin: 0 0 0 20px; padding: 0 0 10px;}/*list-style:none*/
/* Grey */
.grey {background: url(/i2/grey.png) repeat-x left bottom #757575; margin: 0 7px 12px;}
.grey-inner {background: url(/i2/grey-lb.png) no-repeat left bottom;}
.grey-block {background: url(/i2/grey-rb.png) no-repeat right bottom; padding: 10px 30px 12px;}
.path {font-size: 11px; color: #9d9d9d; padding: 0 0 5px;}
.path a {color: #9d9d9d;}
.grey-block h2 {font-size: 18px; font-weight: normal; color: #fff; padding: 0 0 10px;}
.cl {padding: 0 0 50px;}










/* Content
======================================= */
.content {padding: 0 0 40px; clear: both;}
/* About */
.about {padding: 20px 35px 20px; clear: both;}
.about h3 {font-size: 22px; color: #3d3d3d; font-weight: normal; padding: 0 0 8px;}
.about h1 {font-size: 27px; color: #3d3d3d; font-weight: normal; padding: 0 0 8px;}
.about p {padding: 0 0 10px; color: #3d3d3d;}
/* Recommended */
.recommended {float: left; width: 71%;}
/* .recommended h2 {font-size: 20px; line-height: 22px; color: #3d3d3d; font-weight: normal; padding: 7px 0 4px 23px;}*/
.recommended-inner ul {padding: 0 0 5px 15px; list-style: none; clear: both;}
.recommended-inner ul li {float: left; width: 33%;}
.current .rec-lt {background: url(/i2/current-lt.png) no-repeat;}
.current .rec-rt {background: url(/i2/current-lb.png) no-repeat left bottom;}
.current .rec-lb {background: url(/i2/current-rt.png) no-repeat right top;}
.current .rec-rb {background: url(/i2/current-rb.png) no-repeat right bottom;}
.rec-lt {background: url(/i2/block-lt.png) no-repeat; margin: 0 5px 0 0;}
.rec-rt {background: url(/i2/block-lb.png) no-repeat left bottom;}
.rec-lb {background: url(/i2/block-rt.png) no-repeat right top;}
.rec-rb {background: url(/i2/block-rb.png) no-repeat right bottom; padding: 12px 6px 12px 10px; min-height: 93px;}
.rec-img {border: 1px solid #565656;}
.rec-img img, .rec-img {display: block; width: 70px; height: 51px;}
.rec-rb .left {padding: 0 9px 0 0; width: 70px; text-align: center;}
.rec-rb h4 {font-size: 14px; line-height: 1; color: #43a100; font-weight: normal; padding: 0 0 4px;}
.rec-rb h4 a {text-decoration: none; color: #43a100;}
.comments {font-size: 10px; text-decoration: none; color: #6b6b6b;}
.comments span {color: #98a600;}
.stars {height: 11px; margin: 5px auto; background: url(/i2/star.png) left top;}
.recommended-inner ul li li {float: none; width: auto; padding: 0 0 2px;}
.recommended-inner ul ul {padding: 0 0 10px; color: #3d3d3d;}
.recommended-inner ul b {font-weight: normal; color: #970012;}
.rec-inner {margin: 0 0 0 80px;}
/*height 18px;width 80px*/
.bron {display: inline; margin: 0 10px 0 0; width: 80px; float: right; height: 18px; background: url(/i2/bron.png) no-repeat; text-align: center; color: #fff; text-decoration: none;}
/* Places */
.places {float: right; width: 28%;}
.places h2 {font-size: 20px; line-height: 22px; color: #3d3d3d; font-weight: normal; padding: 7px 0 4px 18px;}
.places h2 a {font-size: 14px; color: #fda00c; text-decoration: none;}
.places li {padding: 0 0 13px;}
.places li a {text-decoration: none; color: #3d3d3d;}
.places li a:hover {text-decoration: underline;}
.place-lt {background: url(/i2/block-lt.png) no-repeat; margin: 0 6px;}
.place-rt {background: url(/i2/block-lb.png) no-repeat left bottom;}
.place-lb {background: url(/i2/block-rt.png) no-repeat right top;}
.place-lb ul {background: url(/i2/block-rb.png) no-repeat right bottom; padding: 15px; list-style: none; font-size: 12px; line-height: 13px;}


/* Footer
======================================= */
.footer {background: #bebebe; color: #fff; position: relative; margin: -27px 0 0; min-width: 996px; max-width: 1300px;}
.footer-inner {height: 20px; padding: 7px 0 0; min-width: 996px; max-width: 1300px; position: relative;}
.footer address {font-style: normal;}
.footer a {color: #fff; text-decoration: none;}
.footer a:hover {text-decoration: underline;}
.copy {float: left; padding: 0 10px 0 19px;}
.gnutoff {float: right; padding: 0 26px 0 0;}
.counter {float: right; padding: 1px 146px 0 10px;}
.footer ul {margin: 0 auto; width: 160px; text-align: center; white-space: nowrap;}
.footer li {display: inline; list-style: none; padding: 0 13px;}

/* Otzivi */
.otzivi_block:after {content: ''; display: block; clear: both; visibility: hidden; height: 0; line-height: 0; font-size: 0;}
.otzivi_block {position: relative; z-index: 2;}
.otzivi {padding: 8px 0 0 37px; color: #484848; font-size: 12px; margin:0 450px 0 0;}
.otzivi h5 {font-size: 15px; font-weight: normal; padding: 0 0 12px; text-transform: uppercase;}
.otzivi dd {padding: 2px 0 6px;font-size:11px}
.otzivi_block form {width: 406px; float: right; padding: 18px 0 0;}
.otzivi_block form table {border-collapse: collapse; width: 100%;}
.otzivi_block form textarea {width: 385px; height: 45px; border: 0; outline: none; color: #898989; display: block; clear: both; margin: 0 0 31px;}
.otzivi_block form div {float: right; color: #898989; font-size: 10px;}
.otzivi_block form div span {float: left; margin: 3px 0 0 5px; display: block;}
.otzivi_block form div input {margin: 2px 0 0; float: left;}
.gogo {float: right; margin: 0 8px 0 19px;}
.otzivi_name {width: 166px; height: 16px; padding: 0; margin: 3px 19px 31px 44px; border: 0; color: #898989; outline: none; display:block; float: right;}
.otzivi_mail {width: 166px; height: 16px; padding: 0; margin: 0; border: 0; color: #898989; outline: none; display: block; float: right;}
.catalog {position: relative; margin: 0 0 3px; border: 1px solid #a5a5a5;border-top: 1px solid #f7f7f7; min-height: 250px;background-color: #fff;}
.cat_corners {position: absolute; display: block;}
/*(c)tz*/
#gmap-progress-bar {background:#FFFFFF url(/loading-ru.gif) no-repeat scroll 50% !important;border: 1px solid #C8C8C8;opacity:0.6;position:absolute;height:390px;width:893px;top:130px;left:15px;display:block}
#mailform table {align:left}
.site_preview_google h4{color:#43a100;font-size:14px;font-weight:normal;line-height:1;padding:0 0 4px}
.site_preview_google h4 a{text-decoration:none;color:#43a100}
.site_preview_google .spg_price b{color:#970012;font-weight:normal}
.spg_close {position:absolute;top:-22px;left:99%;cursor:pointer}
.rooms_table th{color:#58c10c;font-size:14px}
strong {color:#58c10c}
.onemore li.activ a{background:transparent url("/i2/li-bot-2.jpg") no-repeat scroll left bottom}
.onemore li.activ a span{background:transparent url("/i2/li-top-2.jpg") no-repeat scroll left top}
.calendar_input{background-attachment:scroll;background-color:#FFFFFF;background-image:url(http://vipwash.ru/i/cal.gif);background-position:right center;background-repeat:no-repeat;}
.inner-page b{color:#58c10c}
.contacts,.contacts div {zoom:1}
.contacts_rekhotels ul{list-style-type:none}
.contacts_rekhotels .bron{margin-top:10px}
.otzivi_form .text_form {background:#E9F8FF none repeat scroll 0 0;border:1px solid #D5E7F0;color:#225D7E;display:block;font-size:12px;padding:6px 6px 6px 30px;width:384px}
.otzivi_form #comment_submit {position:relative;top:-15px;left:20px}
.otzivi_form {padding-bottom:20px}
/* Otzivi & News */
.v_news-block {width:238px; font-family:tahoma; margin:0 0 35px 0}
.v_block-title {font-size:17px; color:#727996; padding:0 0 0 14px}
.v_news {width:238px; background:url(images/verstala_center.png) repeat-y; margin:0 0 1px 0}
.v_title {background:url(images/verstala_top.png) top no-repeat; min-height:24px; width:204px; font-size:14px; color:#60a719; padding:10px 16px 0 18px}
* html .v_title {height:24px}
.v_text {background:url(images/verstala_bottom.png) bottom no-repeat; min-height:35px; width:204px; font-size:12px; color:#6b6b6b; padding:0 16px 18px 18px}
* html .v_text {height:35px}
.v_text-reviews {background:url(images/verstala_bottom.png) bottom no-repeat; min-height:35px; width:204px; font-size:11px; color:#d05363; padding:0 16px 18px 18px}
* html .v_text-reviews {height:35px}
.v_data {font-size:11px; color:#d05363; padding:0 16px 4px 18px}
.v_text-reviews div {text-align:right; position:relative; top:4px}
.v_text-reviews a {color:#a8a8a8}
.v_text-reviews a:hover {text-decoration:none}