.hpanel_table h1{color:#41bde3}
.hpanel_table table{background-color:#f2ffe5;font-face:Tahoma;font-size:12pt;width:100%}
.hpanel_table .n_tr{background-color:#e2efd5}
.hpanel_table th{font-size:10pt;font-weight:normal}
.hpanel_table td{color:#636363;padding-right:5px;padding-left:5px}
.inner-page {margin-left:30px;}
#OverlayContainer {width:99%}
.hpanel_otchet_period {float:right;color:#a3a3a3;font-size:11pt}
